.home-banner {
    width: 100%;
    height: 605px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://static.vecteezy.com/system/resources/thumbnails/001/794/889/original/gradient-background-from-brown-to-black-with-transparent-particles-moving-slowly-free-video.jpg) no-repeat center fixed;
    background-size: cover;
}


.sand-to-blue {
    background-image: linear-gradient(to right bottom, #5f4754, #5d4759, #59475e, #534963, #4b4a67, #434e6b, #3b516d, #32556e, #2c5a6d, #2b5f6b, #2f6367, #376663);
}

.style {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-title {
    font-family: "Dosis", sans-serif;
    text-shadow: 5px 0px 20px #dfe2e9;
}

@media only screen and (max-width: 688px) {
    .home-banner {
        padding: 0px 20px;
    }

    .banner-title {
        padding-top: 250px;
        font-size: 1.7rem;
    }
}