.body {
    display: flex;
    height: 100vh;
    width: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #0a0010, #110819, #140f21, #15152a, #151a34, #1b2a46, #223b58, #284c69, #426f85, #6392a1, #89b7bc, #b3dcd9);
    background-size: cover;
}

.backgrond {
    background-image: linear-gradient(to right top, #b4a3be, #a599b6, #9690ae, #8686a5, #767d9c, #7282a0, #6f87a4, #6c8ca6, #78a0b4, #88b4c1, #9cc8cd, #b3dcd9);
}

.form-section {
    max-width: 600px;
    width: 400px;
    /* background: #ffffff; */
    border-radius: 10px;
    padding: 50px;
}

.input-box input {
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    background-color: transparent;
    margin: 10px 0;
}

.gender-radio-btn {
    display: flex;
    align-items: center;
    color: rgb(28, 28, 28);
    gap: 10px;
    margin: 10px 0;
}


.input-radio-btn {
    margin: 5px 0;
}

label {
    color: rgb(28, 28, 28);
}


.submit-btn button {
    background-color: #4966b1;
    width: 100%;
    border: 0;
    color: white;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 3px;
}